body {
    font-family: "Montserrat", sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    margin: auto 25px;
}

h2 {
    font-size: 30px;
}

header {
    background-color: #032539;
    display: flex;
    height: 75px;
    justify-content: space-between;
}

main {
    display: grid;
    grid-template-columns: 275px 1fr;
    height: 100%;
}

.action-sidebar {
    border-right: 2px solid lightgrey;
    height: 100%;
}

.add-client-button {
    background-color: #0B0;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    height: 40px;
    margin: auto 0;
    padding: 0 16px;
}

.add-client-button:hover {
    cursor: pointer;
}

.add-client-button:focus {
    outline: none;
}

.client-card {
    border: 2px solid lightgrey;
    display: flex;
    justify-content: space-between;
    margin: 25px;
    min-width: 500px;
    padding: 0 25px;
    width: 50%;
}

.logout-buttons {
    margin: auto 0;
}

.logout-buttons > button {
    background-color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    padding: 8px 16px;
    margin: 0 25px 0 0;
}

.logout-buttons > button:hover {
    cursor: pointer;
}

.logout-buttons > button:focus {
    outline: none;
}

.remove-client {
    background-color: white;
    border: none;
    color: red;
    font-size: 30px;
    height: 32px;
    margin: auto 0;
    width: 32px;
}

.remove-client:hover {
    cursor: pointer;
}

.remove-client:focus {
    outline: none;
}

.title-bar {
    border-bottom: 2px solid lightgrey;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

/* create client overlay */

.create-client {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.753);
    display: none;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.create-client-form {
    align-items: center;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px;
    width: 300px;
}

.create-client-form-header {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.create-client-form-header > button {
    background-color: white;
    border: none;
    color: red;
    font-size: 30px;
    height: 32px;
    margin: auto 0;
    width: 32px;
}

.create-client-form-header > button:focus {
    outline: none;
}

.create-client-form-header > button:hover {
    cursor: pointer;
}

.create-client-form > input {
    border-radius: 20px;
    border: 2px solid lightgrey;
    font-size: 14px;
    margin: 10px;
    padding: 8px 16px 8px 16px;
    width: 80%;
}

.create-client-form > input:focus {
    border: 2px solid green;
    outline: none;
}

.create-client-form > button {
    background-color: #032539;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    margin: 18px;
    padding: 12px 8px;
    transition: 150ms;
    width: 90%;
}

.create-client-form > button:hover {
    background-color: green;
    cursor: pointer;
    transition: 150ms;
}

.create-client-form > button:focus {
    outline: none;
}