body {
    background-color: #032539;
    font-family: "Montserrat", sans-serif;
    height: 90vh;
}

.button {
    background-color: #032539;
    border: none;
    border-radius: 20px;
    color: white;
    margin: 18px;
    padding: 8px;
    transition: 150ms;
    width: 90%;
}

button:hover {
    background-color: green;
    cursor: pointer;
    transition: 150ms;
}

button:focus {
    outline: none;
}

h3 {
    color: #333;
    height: 70px;
    padding: 24px 12px 0 12px;
    text-align: center;
}

input {
    border-radius: 20px;
    border: 1px solid #333;
    margin: 20px;
    padding: 4px 16px 4px 16px;
    width: 90%;
}

input:focus {
    border: 2px solid green;
    outline: none;
}

nav {
    background: white;
}

.account-type-selector {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    width: 275px;
}

.active-account-type {
    background-color: white;
}

.inactive-account-type {
    background-color: #032539;
    color: white;
}

#admin-form-active-button {
    border-top-left-radius: 20px;
}

#client-form-active-button {
    border-top-right-radius: 20px;
}

#admin-form-active-button,
#client-form-active-button {
    cursor: pointer;
    flex: 1;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 0 5px 0;
    text-align: center;
}

.login-forms {
    display: flex;
}

.logins {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
}

#admin-login,
#client-login {
    align-items: center;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: space-between;
    padding: 12px;
    width: 275px;
}

#admin-login {
    display: none;
}

#client-login {
}