/* Set media query for width < 1080px */

:root {
    --background-color: #eee;
    --box-shadow-light: #fff;
    --box-shadow-dark: #dbdbdb;
    --primary-color: #133840;
    --accent-color: rgb(10, 124, 20);
    --header-color: black;
    --button-color: white;
    --secondary-text-color: white;
}

@media only screen and (max-width: 1080px) {
    body {
        align-items: center;
        background-color: var(--background-color);
        display: flex;
        flex-direction: column;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    #questions {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 0 10vw 0 10vw;
    }

    #questions form {
        width: 100%;
    }
    
    .answers {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 48px;
    }
    
    .answer {
        display: flex;
        justify-content: center;
    }
    
    .answer input {
        display: none;
    }
    
    .answer label {
        background-color: var(--primary-color);
        border-radius: 10px;
        box-shadow: 4px 2px 8px var(--box-shadow-dark), -4px -2px 8px var(--box-shadow-light);
        color: var(--button-color);
        font-size: 20px;
        margin: 8px;
        padding: 18px;
        text-align: center;
        transition: 250ms;
        width: 70%;
    }
    
    .answer label:hover {
        box-shadow: 8px 4px 8px var(--box-shadow-dark), -4px -2px 8px var(--box-shadow-light);
        transition: 250ms;
    }
    
    input[type="radio"]:checked+label {
        background-color: var(--accent-color);
        color: var(--secondary-text-color);
    }
    
    h1 {
        background-color: var(--background-color);
        border-radius: 10px;
        box-shadow: 2px 1px 8px var(--box-shadow-dark), -3px -2px 8px var(--box-shadow-light);
        color: var(--header-color);
        font-size: 48px;
        padding: 8px 20px;
        text-align: center;
    }
    
    h3 {
        background-color: var(--background-color);
        border-radius: 10px;
        box-shadow: 2px 1px 8px var(--box-shadow-dark), -3px -2px 8px var(--box-shadow-light);
        color: var(--header-color);
        font-size: 28px;
        padding: 8px 20px;
        text-align: center;
    }
    
    input[type="submit"] {
        background-color: var(--accent-color);
        border: none;
        border-radius: 10px;
        box-shadow: 4px 2px 8px var(--box-shadow-dark), -4px -2px 8px var(--box-shadow-light);
        color: var(--secondary-text-color);
        font-size: 28px;
        margin: 48px;
        padding: 20px;
        text-align: center;
        transition: 250ms;
        width: 60%
    }
    
    input[type="submit"]:hover {
        box-shadow: 8px 4px 8px var(--box-shadow-dark), -4px -2px 8px var(--box-shadow-light);
        transition: 250ms;
    }
    
    input[type="submit"]:focus {
        outline: none;
    }
}

@media only screen and (min-width: 1081px) {
    body {
        align-items: center;
        background-color: var(--background-color);
        display: flex;
        flex-direction: column;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    #questions {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 0 10vw 0 10vw;
        width: 80vw;
    }
    
    .answers {
        display: flex;
        justify-content: center;
        margin-bottom: 48px;
    }
    
    .answer {
        display: flex;
        justify-content: center;
        width: 200px;
    }
    
    .answer input {
        display: none;
    }
    
    .answer label {
        background-color: var(--primary-color);
        border-radius: 10px;
        box-shadow: 4px 2px 8px var(--box-shadow-dark), -4px -2px 8px var(--box-shadow-light);
        color: var(--button-color);
        margin: 8px;
        padding: 12px;
        text-align: center;
        transition: 250ms;
        width: 100%
    }
    
    .answer label:hover {
        box-shadow: 8px 4px 8px var(--box-shadow-dark), -4px -2px 8px var(--box-shadow-light);
        transition: 250ms;
    }
    
    input[type="radio"]:checked+label {
        background-color: var(--accent-color);
        color: var(--secondary-text-color);
    }
    
    h1 {
        background-color: var(--background-color);
        border-radius: 10px;
        box-shadow: 2px 1px 8px var(--box-shadow-dark), -3px -2px 8px var(--box-shadow-light);
        color: var(--header-color);
        font-size: 48px;
        padding: 8px 20px;
        text-align: center;
    }
    
    h3 {
        background-color: var(--background-color);
        border-radius: 10px;
        box-shadow: 2px 1px 8px var(--box-shadow-dark), -3px -2px 8px var(--box-shadow-light);
        color: var(--header-color);
        font-size: 28px;
        padding: 8px 20px;
        text-align: center;
        width: 1000px;
    }
    
    input[type="submit"] {
        background-color: var(--accent-color);
        border: none;
        border-radius: 10px;
        box-shadow: 4px 2px 8px var(--box-shadow-dark), -4px -2px 8px var(--box-shadow-light);
        color: var(--secondary-text-color);
        font-size: 28px;
        margin: 48px;
        padding: 12px;
        text-align: center;
        transition: 250ms;
        width: 750px;
    }
    
    input[type="submit"]:hover {
        box-shadow: 8px 4px 8px var(--box-shadow-dark), -4px -2px 8px var(--box-shadow-light);
        transition: 250ms;
    }
    
    input[type="submit"]:focus {
        outline: none;
    }
}

